<Layout::Section::Header @title="Scheduler" />

<Layout::Section::Body class="overflow-y-scroll h-screen">
    <div class="h-screen">
        <div class="grid grid-cols-1 lg:grid-cols-3">
            <div class="scheduler-left-sidebar">
                <ContentPanel
                    @title="Unscheduled Orders"
                    @titleStatuRight={{this.unscheduledOrders.length}}
                    @titleStatuRightClass="info-status-badge"
                    @hideStatusDot={{true}}
                    @open={{true}}
                    @pad={{true}}
                    @panelBodyClass="bg-white dark:bg-gray-900"
                >
                    <div class="space-y-4">
                        {{#each this.unscheduledOrders as |order|}}
                            <FullCalendar::Draggable @eventData={{json-hash id=order.id title=order.eventTitle allDay=true}}>
                                <Order::ScheduleCard @order={{order}} @titleClass="cursor-move" @onTitleClick={{fn this.viewEvent order}} />
                            </FullCalendar::Draggable>
                        {{/each}}
                    </div>
                </ContentPanel>
                <ContentPanel
                    @title="Scheduled Orders"
                    @titleStatuRight={{this.scheduledOrders.length}}
                    @titleStatusRightClass="info-status-badge"
                    @hideStatusDot={{true}}
                    @open={{true}}
                    @pad={{true}}
                    @panelBodyClass="bg-white dark:bg-gray-900"
                >
                    <div class="space-y-4">
                        {{#each this.scheduledOrders as |order|}}
                            <Order::ScheduleCard @order={{order}} @titleClass="cursor-pointer" @onTitleClick={{fn this.viewEvent order}} />
                        {{/each}}
                    </div>
                </ContentPanel>
            </div>

            <div class="col-span-2 p-4">
                <FullCalendar
                    @events={{this.events}}
                    @editable={{true}}
                    @onDrop={{this.scheduleEventFromDrop}}
                    @onEventReceive={{this.receivedEvent}}
                    @onEventDrop={{this.rescheduleEventFromDrag}}
                    @onEventClick={{this.viewOrderAsEvent}}
                    @onInit={{this.setCalendarApi}}
                />
            </div>
        </div>
    </div>
</Layout::Section::Body>