<div class="p-4">
    <ContentPanel @title="Details" @open={{true}} @pad={{true}} @panelBodyClass="bg-white dark:bg-gray-900">
        <div class="grid grid-cols-2 gap-2 text-xs md:mb-6 dark:text-gray-100">
            <div class="field-info-container ">
                <div class="field-name">Name</div>
                <div class="field-value">{{n-a @driver.name}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">ID</div>
                <div class="field-value">{{n-a @driver.public_id}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">Internal ID</div>
                <div class="field-value">{{n-a @driver.internal_id}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">Drivers License</div>
                <div class="field-value">{{n-a @driver.drivers_license_number}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">Email</div>
                <div class="field-value">{{n-a @driver.email}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">Phone</div>
                <div class="field-value">{{n-a @driver.phone}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">City</div>
                <div class="field-value">{{n-a @driver.city}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">Country</div>
                <div class="field-value">
                    <CountryName @country={{@driver.country}} />
                </div>
            </div>
            <div class="field-info-container md:col-span-3">
                <div class="field-name">Coordinates</div>
                <div class="field-value">{{point-coordinates @driver.location}}</div>
            </div>
        </div>
    </ContentPanel>
</div>