{{! template-lint-disable no-unbound }}
<Layout::Section::Header @title={{t "fleet-ops.common.orders"}} @onSearch={{this.search}} />

<Layout::Section::Body>
    <div class="p-4">

        {{#if this.isLoading}}
            <div class="px-3 py-2">
                <Spinner class="text-sky-400" />
            </div>

        {{/if}}
        <div class="hidden md:flex table-wrapper table-fluid">
            <table>
                <thead>
                    <tr class="h-12 text-left py-1">
                        <th>{{t "fleet-ops.common.id"}}</th>
                        <th>{{t "fleet-ops.common.created-at"}}</th>
                        <th>{{t "fleet-ops.common.status"}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each this.orders as |order|}}
                        <tr class="h-12">
                            <td><a href="javascript:;" {{on "click" (fn this.viewOrder order)}}>{{order.public_id}}</a></td>

                            <td>{{order.createdAgo}}</td>
                            <td>
                                <Badge @status={{order.status}} />
                            </td>

                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div></Layout::Section::Body>