<Layout::Section::Header @title={{t "fleet-ops.common.orders"}} @onSearch={{this.search}} />

<Layout::Section::Body>

    <div class="hidden md:flex flex-col p-4">
        {{#each this.orders as |order|}}
            <div class="bg-gray shadow-md rounded-lg p-4 mb-4 border border-gray-700">
                <div>
                    <a href="javascript:;" {{on "click" (fn this.viewOrder order)}}>{{order.public_id}}</a>
                </div>
                <div>
                    <Badge @status={{order.status}} />
                </div>
                <div>
                    <DisplayPlace @place={{@options.order.payload.dropoff}} @type="dropoff" @addressClass="text-sm dark:text-gray-100" @noAddressClass="text-sm" />
                </div>
                <div>
                    <DisplayPlace @place={{@options.order.payload.pickup}} @type="pickup" />
                </div>
                <div>{{order.driver_assigned.vehicle_name}}</div>
                <div>{{order.customer}}</div>
                <div>{{order.status}}</div>
                <div>{{format-date order.created_at "d MMM yyyy"}}</div>
                <div>{{order.tracking_number.tracking_number}}</div>
            </div>
        {{/each}}
    </div>

</Layout::Section::Body>