{{#if @value}}
    <Badge @hideStatusDot={{true}} @status={{if (eq @value "broker") "info" (if (eq @value "both") "success" "warning")}}>
        {{smart-humanize @value}}
    </Badge>
{{else}}
    <span class={{@column.cellClassNames}}>-</span>
{{/if}}
