<div class="details-wrapper" ...attributes>
    <ContentPanel @title={{t "common.details"}} @open={{true}} @wrapperClass="bordered-top">
        <div class="grid grid-cols-2 gap-2 text-xs dark:text-gray-100">
            <div class="field-info-container">
                <div class="field-name">{{t "common.name"}}</div>
                <div class="field-value">{{n-a @resource.display_name}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">{{t "vehicle.fields.plate-number"}}</div>
                <div class="field-value">{{n-a @resource.plate_number}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">{{t "vehicle.fields.vin-number"}}</div>
                <div class="field-value">{{n-a @resource.vin}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">{{t "vehicle.fields.make"}}</div>
                <div class="field-value">{{n-a @resource.make}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">{{t "vehicle.fields.model"}}</div>
                <div class="field-value">{{n-a @resource.model}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">{{t "vehicle.fields.year"}}</div>
                <div class="field-value">{{n-a @resource.year}}</div>
            </div>
            <div class="field-info-container col-span-3">
                <div class="field-name">
                    {{t "common.coordinates"}}
                </div>
                <div class="field-value">
                    {{point-coordinates @resource.location}}
                </div>
            </div>
        </div>
    </ContentPanel>

    <CustomField::Yield @subject={{@resource}} @viewMode={{true}} @wrapperClass="bordered-top" />

    <ContentPanel @title={{t "common.avatar"}} @open={{true}} @wrapperClass="bordered-top">
        <div class="flex px-1">
            <div class="border border-dashed border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-600 rounded-lg flex items-center justify-center">
                <div class="flex items-center justify-center h-20 w-24">
                    <Image alt={{@resource.displayName}} src={{or @resource.avatar_custom_url @resource.avatar_url}} @fallbackSrc={{config "defaultValues.vehicleAvatar"}} class="w-12 h-12" />
                </div>
            </div>
        </div>
    </ContentPanel>
</div>