<Pill
    @this.resource={{this.resource}}
    @imageSrc={{this.resource.photo_url}}
    @fallbackImageType="vehicleImage"
    @showOnlineIndicator={{if this.resource true false}}
    @noTooltip={{not this.resource}}
    @onClick={{@onClick}}
    @anchorClass={{@anchorClass}}
    @imageClass={{@imageClass}}
    @imageWrapperClass={{@imageWrapperClass}}
    @contentWrapperClass={{@contentWrapperClass}}
    @titleClass={{@titleClass}}
    @subtitleClass={{@subtitleClass}}
    ...attributes
>
    <:default>
        <div class="text-sm">{{or this.resource.name this.resource.yearMakeModel @titleFallback "No vehicle"}}</div>
        <div class="text-xs text-gray-400 dark:text-gray-500">{{or this.resource.plate_number this.resource.vin this.resource.serial_number this.resource.call_sign "-"}}</div>
    </:default>
    <:tooltip>
        <div>
            <div class="text-xs font-semibold">{{this.resource.name this.resource.yearMakeModel}}</div>
            <div class="text-xs">{{t "this.resource.driver"}}: {{n-a this.resource.driver_name}}</div>
            <div class="text-xs">
                <span>{{t "common.status"}}:</span>
                <span class="{{if this.resource.online 'text-green-500' 'text-red-400'}}">
                    {{if this.resource.online (t "common.online") (t "common.offline")}}
                </span>
            </div>
            <div class="text-xs truncate">Pos: {{point-coordinates this.resource.location}}</div>
        </div>
    </:tooltip>
</Pill>