<div class="p-4">
    <ContentPanel @title="Details" @open={{true}} @pad={{true}} @panelBodyClass="bg-white dark:bg-gray-900">
        <div class="grid grid-cols-2 gap-2 text-xs md:mb-6 dark:text-gray-100">
            <div class="field-info-container">
                <div class="field-name">ID</div>
                <div class="field-value">{{n-a @fuelReport.public_id}}</div>
            </div>
            <div class="field-info-container col-span-2">
                <div class="field-name">Reporter</div>
                <div class="field-value">{{n-a @fuelReport.reporter_name}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">Driver</div>
                <div class="field-value">{{n-a @fuelReport.driver_name}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">Vehicle</div>
                <div class="field-value">{{n-a @fuelReport.vehicle_name}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">Odometer</div>
                <div class="field-value">{{n-a @fuelReport.odometer}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">Cost</div>
                <div class="field-value">{{format-currency @fuelReport.amount @fuelReport.currency}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">Fuel/ Volume</div>
                <div class="field-value">{{pluralize @fuelReport.volume @fuelReport.metric_unit}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">Date Created</div>
                <div class="field-value">{{@fuelReport.createdAtShort}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">Coordinates</div>
                <div class="field-value">{{point-coordinates @fuelReport.location}}</div>
            </div>
        </div>
    </ContentPanel>
</div>