<div class="details-wrapper" ...attributes>
    {{#if (has-block)}}
        {{yield
            (hash
                Activity=(component "order/details/activity" resource=@resource onChange=@onActivityChanged isLoadingActivity=@isLoadingActivity isLoading=@isLoading)
                Detail=(component "order/details/detail" resource=@resource onChange=@onDetailsChanged isLoading=@isLoading)
                CustomFields=(component "order/details/custom-fields" resource=@resource onChange=@onCustomFieldsChanged isLoading=@isLoading)
                PurchaseRate=(component "order/details/purchase-rate" resource=@resource isLoading=@isLoading)
                Tracking=(component "order/details/tracking" resource=@resource isLoading=@isLoading)
                Proof=(component "order/details/proof" resource=@resource isLoading=@isLoading)
                Notes=(component "order/details/notes" resource=@resource onChange=@onNotesChanged isLoading=@isLoading)
                IntegratedVendorDetails=(component "order/details/integrated-vendor-details" resource=@resource isLoading=@isLoading)
                Route=(component "order/details/route" resource=@resource onChange=@onRouteChanged isLoading=@isLoading)
                RegistryYield=(component
                    "registry-yield" registry="fleet-ops:component:order:details" resource=@resource controller=@controller permission=(get-write-permission @resource) isLoading=@isLoading
                )
                Payload=(component "order/details/payload" resource=@resource onChange=@onPayloadChanged isLoading=@isLoading)
                Documents=(component "order/details/documents" resource=@resource onChange=@onDocumentsChanged isLoading=@isLoading)
                Comments=(component "order/details/comments" resource=@resource onChange=@onCommentsChanged isLoading=@isLoading)
                Metadata=(component "order/details/metadata" resource=@resource onChange=@onMetadataChanged isLoading=@isLoading)
            )
        }}
    {{else}}
        <Order::Details::Activity @resource={{@resource}} @onChange={{@onActivityChanged}} @isLoadingActivity={{@isLoadingActivity}} @isLoading={{@isLoading}} />
        <Order::Details::Detail @resource={{@resource}} @onChange={{@onDetailsChanged}} @isLoading={{@isLoading}} />
        <Order::Details::CustomFields @resource={{@resource}} @onChange={{@onCustomFieldsChanged}} @isLoading={{@isLoading}} />
        <Order::Details::PurchaseRate @resource={{@resource}} @isLoading={{@isLoading}} />
        <Order::Details::Tracking @resource={{@resource}} @isLoading={{@isLoading}} />
        <Order::Details::Proof @resource={{@resource}} @isLoading={{@isLoading}} />
        <Order::Details::Notes @resource={{@resource}} @onChange={{@onNotesChanged}} @isLoading={{@isLoading}} />
        <Order::Details::IntegratedVendorDetails @resource={{@resource}} @isLoading={{@isLoading}} />
        <Order::Details::Route @resource={{@resource}} @onChange={{@onRouteChanged}} @isLoading={{@isLoading}} />
        <RegistryYield @registry="fleet-ops:component:order:details" as |RegistryComponent|>
            <RegistryComponent @resource={{@resource}} @controller={{@controller}} @permission={{get-write-permission @resource}} @isLoading={{@isLoading}} />
        </RegistryYield>
        <Order::Details::Payload @resource={{@resource}} @onChange={{@onPayloadChanged}} @isLoading={{@isLoading}} />
        <Order::Details::Documents @resource={{@resource}} @onChange={{@onDocumentsChanged}} @isLoading={{@isLoading}} />
        <Order::Details::Comments @resource={{@resource}} @onChange={{@onCommentsChanged}} @isLoading={{@isLoading}} />
        <Order::Details::Metadata @resource={{@resource}} @onChange={{@onMetadataChanged}} @isLoading={{@isLoading}} />
    {{/if}}
</div>