<div {{did-update this.handleArgsChange @orderConfig @orders}}>
    <Kanban
        @columns={{this.columns}}
        @onCardMove={{this.handleCardMove}}
        @headerOffset={{@headerOffset}}
        @columnIdPath="status"
        @subject="order"
        @cardTemplate="order/kanban-card"
        @onCreateCard={{transition-to "operations.orders.index.new"}}
        ...attributes
    />
</div>