<div class="order-schedule-card border border-gray-200 dark:border-gray-700" ...attributes>
    <a href="javascript:;" class="{{@titleClass}} card-title border-b border-gray-200 dark:border-gray-700 bg-gray-50 dark:bg-gray-900" {{on "click" (fn this.onTitleClick @order)}}>
        <span>{{@order.public_id}}</span>
        <div>
            <Badge @status={{@order.status}} />
        </div>
    </a>
    <div class="{{@contentClass}} card-content bg-white dark:bg-gray-900 text-sm space-y-2">
        <div class="flex items-center justify-between">
            <div>
                <FaIcon @icon="calendar" class="mr-2" />
                <span class="font-semibold">Date scheduled</span>
            </div>
            <span class={{unless @order.scheduled_at "dark:text-gray-600 text-gray-400"}}>{{n-a @order.scheduledAt "Not Scheduled"}}</span>
        </div>
        <div class="flex items-center justify-between">
            <div>
                <FaIcon @icon="calendar" class="mr-2" />
                <span class="font-semibold">Date created</span>
            </div>
            <span>{{n-a @order.createdAtWithTime}}</span>
        </div>
        <div class="flex items-center justify-between">
            <div class="flex flex-row items-center">
                <FaIcon @icon="calendar" class="mr-2" />
                <span class="font-semibold">Driver Assigned</span>
                <div class="ml-2">
                    <a href="javascript:;" class="text-blue-400 hover:opacity-75" {{on "click" this.startAssignDriver}}>
                        <FaIcon @icon="edit" @size="xs" />
                    </a>
                </div>
            </div>
            <div>
                {{#if this.isAssigningDriver}}
                    <ModelSelect @modelName="driver" @selectedModel={{@order.driver_assigned}} @placeholder="Select Driver" @triggerClass="form-select form-input form-input-sm w-48" @infiniteScroll={{false}} @renderInPlace={{true}} @allowClear={{true}} @disabled={{@model.isLoading}} @onChange={{this.assignDriver}} as |model|>
                        <div class="flex items-center">
                            <div class="w-5">
                                <FaIcon @icon="id-card-alt" @size="xs" />
                            </div>
                            <div class="flex-1 flex flex-row truncate text-xs">
                                <span class="uppercase mr-1.5 text-xs">{{model.name}}</span>
                                <span class="uppercase text-xs">{{model.phone}}</span>
                            </div>
                        </div>
                    </ModelSelect>
                {{else}}
                    <a href="javascript:;" disabled={{not @order.driver_assigned}} class={{unless @order.driver_assigned "dark:text-gray-600 text-gray-400"}} {{on "click" (fn this.onClickDriver @order.driver_assigned)}}>{{n-a @order.driver_assigned.name "No Driver Assigned"}}</a>
                {{/if}}
            </div>
        </div>
        <div class="flex items-center justify-between">
            <div class="flex flex-row items-center">
                <FaIcon @icon="calendar" class="mr-2" />
                <span class="font-semibold">Vehicle Assigned</span>
            </div>
            <a href="javascript:;" disabled={{not @order.driver_assigned.vehicle}} class={{unless @order.driver_assigned.vehicle_uuid "dark:text-gray-600 text-gray-400"}} {{on "click" (fn this.onClickVehicle @order.driver_assigned.vehicle)}}>{{n-a @order.driver_assigned.vehicle_name "No Vehicle Assigned"}}</a>
        </div>
        {{!-- <div class="z-20 relative">
            <RouteList @order={{@order}} />
        </div> --}}
    </div>
    {{yield}}
</div>