<div class="details-wrapper" ...attributes>
    <ContentPanel @title={{t "common.details"}} @open={{true}} @wrapperClass="bordered-top">
        <div class="grid grid-cols-2 gap-2 text-xs dark:text-gray-100">
            <div class="field-info-container">
                <div class="field-name">{{t "issue.fields.title"}}</div>
                <div class="field-value">{{or @resource.title (concat "Issue reported on " (format-date-fns @model.created_at "dd MMM yy, HH:mm"))}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">{{t "common.status"}}</div>
                <div class="field-value">
                    <Badge @status={{@resource.status}} />
                </div>
            </div>
            <div class="field-info-container">
                <div class="field-name">{{t "issue.fields.reported-by"}}</div>
                <div class="field-value">{{n-a @resource.reporter_name}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">{{t "issue.fields.assigned-to"}}</div>
                <div class="field-value">{{n-a @resource.assignee_name}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">{{t "resource.driver"}}</div>
                <div class="field-value">{{n-a @resource.driver_name}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">{{t "resource.vehicle"}}</div>
                <div class="field-value">{{n-a @resource.vehicle_name}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">{{t "issue.fields.type"}}</div>
                <div class="field-value">{{n-a (titleize @resource.type)}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">{{t "issue.fields.category"}}</div>
                <div class="field-value">{{n-a @resource.category}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">{{t "issue.fields.priority"}}</div>
                <div class="field-value">
                    <Badge @status={{@resource.priority}} />
                </div>
            </div>
            <div class="field-info-container">
                <div class="field-name">{{t "common.date-created"}}</div>
                <div class="field-value">{{@resource.createdAt}}</div>
            </div>
            <div class="field-info-container col-span-2">
                <div class="field-name">{{t "issue.fields.tags"}}</div>
                <div class="field-value flex flex-row items-center space-x-1">
                    {{#each @resource.tags as |tag|}}
                        <div class="rounded-xl border text-sm border-gray-200 dark:border-gray-700 bg-white dark:bg-gray-900 px-2 py-0.5 flex items-center justify-center">{{tag}}</div>
                    {{/each}}
                </div>
            </div>
            <div class="field-info-container col-span-2">
                <div class="field-name">{{t "common.coordinates"}}</div>
                <div class="field-value">{{point-coordinates @resource.location}}</div>
            </div>
            <div class="field-info-container col-span-2">
                <div class="field-name">{{t "issue.fields.report"}}</div>
                <div class="field-value">{{n-a @resource.report}}</div>
            </div>
        </div>
    </ContentPanel>

    <CustomField::Yield @subject={{@resource}} @viewMode={{true}} @wrapperClass="bordered-top" />
</div>