<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}}>
    <div class="modal-body-container">
        <InputGroup @name="Config Name" @value={{@options.name}} />
        <InputGroup @name="Config Description" @value={{@options.description}} />
    </div>
</Modal::Default>