<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}}>
    <div class="modal-body-container">
        <InputGroup @name={{t "common.select-field" field=(t "resource.driver")}} @value={{@options.selectedDriver}}>
            <ModelSelect
                @modelName="driver"
                @selectedModel={{@options.selectedDriver}}
                @placeholder={{t "common.select-field" field=(t "resource.driver")}}
                @triggerClass="form-select form-input"
                @infiniteScroll={{true}}
                @renderInPlace={{true}}
                @onChange={{fn (mut @options.selectedDriver)}}
                as |driver|
            >
                <Driver::Pill @driver={{driver}} />
            </ModelSelect>
        </InputGroup>
    </div>
</Modal::Default>
