<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}}>
    <div class="modal-body-container">
        <div class="grid grid-cols-2 flex-col md:flex-row gap-2 mb-6">
            <div class="field-info-container">
                <div class="field-name">ID</div>
                <div class="field-value">{{n-a @options.fuelReport.public_id}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">Driver</div>
                <div class="field-value">{{n-a @options.fuelReport.driver_name}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">Vehicle</div>
                <div class="field-value">{{n-a @options.fuelReport.vehicle_name}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">Odometer</div>
                <div class="field-value">{{n-a @options.fuelReport.odometer}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">Cost</div>
                <div class="field-value">{{format-currency @options.fuelReport.amount @options.fuelReport.currency}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">Fuel/ Volume</div>
                <div class="field-value">{{pluralize @options.fuelReport.volume @options.fuelReport.metric_unit}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">Date Created</div>
                <div class="field-value">{{@options.fuelReport.createdAtShort}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">Coordinates</div>
                <div class="field-value">{{point-coordinates @options.fuelReport.location}}</div>
            </div>
        </div>
    </div>
</Modal::Default>