<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}}>
    <div class="modal-body-container">
        <div class="grid grid-cols-2 flex-col md:flex-row gap-2 mb-6">
            <div class="field-info-container">
                <div class="field-name">Type</div>
                <div class="field-value"><Badge @status={{@options.issue.type}} /></div>
            </div>
            <div class="field-info-container">
                <div class="field-name">Report</div>
                <div class="field-value">{{n-a @options.issue.report}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">Priority</div>
                <div class="field-value">{{n-a @options.issue.priority}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">Status</div>
                <div class="field-value">{{n-a @options.issue.status}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">Coordinates</div>
                <div class="field-value">{{point-coordinates @options.issue.location}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">Date Created</div>
                <div class="field-value">{{@options.issue.createdAtShort}}</div>
            </div>
        </div>
    </div>
</Modal::Default>