<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}}>
    <div class="modal-body-container">
        <InputGroup @name="New Status" @value={{@options.statusName}} @helpText="Enter a new activity status to add to the flow" />
    </div>
</Modal::Default>