<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}} as |options|>
    <div class="modal-body-container" ...attributes>
        <div class="input-group">
            <label>
                Role Name
            </label>
            <Input @value={{@options.role.name}}  @type="text" class="w-full form-input" placeholder="Enter a name for this role" />
        </div>
        <div class="input-group">
            <label>
               Select Permissions
            </label>
            <PermissionPicker @selected={{@options.role.permissions}} @onChange={{fn (mut @options.role.permissions)}} />
        </div>
    </div>
</Modal::Default>