<Modal::Default @modalIsOpened={{@modalIsOpened}} @options={{@options}} @confirm={{@onConfirm}} @decline={{@onDecline}}>
    <div class="modal-body-container">
        <div class="flex px-3 py-2 mb-6 rounded-md shadow-sm bg-blue-200">
            <div>
                <FaIcon @icon="info-circle" class="text-blue-900 mr-4" />
            </div>
            <p class="flex-1 text-sm text-blue-900 dark:text-blue-900">
                Welcome to Fleetbase! Before you get started, set a new password to continue below.
            </p>
        </div>

        <InputGroup @name="New Password" @value={{@options.password}} @type="password" @inputClass="form-input-lg" @helpText="Enter a password at-least 8 characters to continue." />
        <InputGroup @name="Confirm Password" @value={{@options.password_confirmation}} @type="password" @inputClass="form-input-lg" @helpText="Enter a password at-least 8 characters to continue." />
    </div>
</Modal::Default>