<Overlay @onLoad={{this.setOverlayContext}} @onOpen={{this.onOpen}} @onClose={{this.onClose}} @onToggle={{this.onToggle}} @position="right" @noBackdrop={{true}} @fullHeight={{true}} @isResizable={{or this.isResizable @isResizable}} @width={{or this.width @width "570px"}}>
    <Overlay::Header @title={{this.customEntity.name}} @hideStatusDot={{true}} @titleWrapperClass="leading-5">
        <div class="flex flex-1 justify-end">
            <Button @icon={{if this.customEntity.id "save" "check"}} @type="primary" @text="Save Changes" @onClick={{this.save}} @wrapperClass="mr-2" />
            <Button @type="default" @icon="times" @onClick={{this.onPressCancel}} />
        </div>
    </Overlay::Header>

    <Overlay::Body @wrapperClass="px-4 pt-4">
        <InputGroup @name="Name" @value={{this.customEntity.name}} />
        <InputGroup @name="Description" @value={{this.customEntity.description}} />
        <InputGroup @name="Type" @value={{this.customEntity.type}} {{on "input" this.setCustomEntityType}} />

        <ContentPanel @title="Measurements" @open={{true}} @pad={{true}} @panelBodyClass="bg-white dark:bg-gray-800">
            <div class="grid grid-cols-2 gap-1">
                <InputGroup @name={{t "fleet-ops.component.modals.entity-form.length"}} @helpText={{t "fleet-ops.component.modals.entity-form.length-text"}} @wrapperClass="mb-2">
                    <UnitInput class="w-full" @value={{this.customEntity.length}} @unit={{this.customEntity.dimensions_unit}} @canSelectUnit={{true}} @onUnitChange={{this.updateCustomEntityDimensionsUnit}} />
                </InputGroup>
                <InputGroup @name={{t "fleet-ops.component.modals.entity-form.width"}} @helpText={{t "fleet-ops.component.modals.entity-form.width-text"}} @wrapperClass="mb-2">
                    <UnitInput class="w-full" @value={{this.customEntity.width}} @unit={{this.customEntity.dimensions_unit}} @canSelectUnit={{true}} @onUnitChange={{this.updateCustomEntityDimensionsUnit}} />
                </InputGroup>
                <InputGroup @name={{t "fleet-ops.component.modals.entity-form.height"}} @helpText={{t "fleet-ops.component.modals.entity-form.height-text"}} @wrapperClass="mb-2">
                    <UnitInput class="w-full" @value={{this.customEntity.height}} @unit={{this.customEntity.dimensions_unit}} @canSelectUnit={{true}} @onUnitChange={{this.updateCustomEntityDimensionsUnit}} />
                </InputGroup>
                <InputGroup @name={{t "fleet-ops.component.modals.entity-form.weight"}} @helpText={{t "fleet-ops.component.modals.entity-form.weight-text"}} @wrapperClass="mb-2">
                    <UnitInput class="w-full" @value={{this.customEntity.weight}} @measurement="weight" @unit={{this.customEntity.weight_unit}} @canSelectUnit={{true}} @onUnitChange={{this.updateCustomEntityWeightUnit}} />
                </InputGroup>
            </div>
        </ContentPanel>
        <Spacer @height="300px" />
    </Overlay::Body>
</Overlay>