<Overlay @position="right" @noBackdrop={{true}} @fullHeight={{true}} @width="700">
    <Overlay::Header @hideLeftSection={{true}} @actionsWrapperClass="flex-1 flex-col py-3" class="h-auto-i min-h-[127px]">
        <div class="flex flex-row items-center justify-between w-full mb-4">
            <div class="flex flex-1 space-x-2">
                {{#if @driver.id}}
                    <Button @type="default" @icon="id-card" @helpText="View driver details" @onClick={{this.viewDetails}} />
                {{/if}}
            </div>
            <div class="flex flex-1 justify-end">
                <div class="mr-2">
                    <Button @icon={{if @driver.id "save" "check"}} @type="primary" @text={{if @driver.id "Save Driver" "Create Driver"}} @onClick={{this.save}} />
                </div>
                <Button @type="default" @icon="times" @helpText={{if @driver.id "Cancel edit driver" "Cancel new driver"}} @onClick={{@onPressCancel}} />
            </div>
        </div>
        <div class="flex flex-row justify-between w-full">
            <div class="flex flex-col flex-1 w-3/4">
                <div class="flex flex-row">
                    <div class="w-14 flex items-center justify-start">
                        <Image src={{@driver.photo_url}} @fallbackSrc={{config "defaultValues.driverImage"}} alt={{@driver.name}} height="48" width="48" class="h-12 w-12 rounded-lg shadow-sm" />
                        <Attach::Tooltip @class="clean" @animation="scale" @placement={{"top"}}>
                            <InputInfo @text={{@driver.public_id}} />
                        </Attach::Tooltip>
                    </div>
                    <div class="flex flex-col pt-2">
                        <h1 class="text-gray-900 dark:text-white text-2xl">
                            {{#if @driver.id}}
                                {{@driver.name}}
                            {{else}}
                                {{#if @driver.name}}
                                    {{@driver.name}}
                                {{else}}
                                    <span>New Driver</span>
                                {{/if}}
                            {{/if}}
                        </h1>
                        <div class="-mt-1">
                            {{#if @driver.vehicle}}
                                <div class="flex flex-row items-center">
                                    <span class="text-sm dark:text-gray-500 text-gray-700 mr-3">{{@driver.vehicle.displayName}}</span>
                                </div>
                            {{else}}
                                <div class="flex flex-row items-center">
                                    <span class="text-sm dark:text-gray-500 text-gray-700 mr-3">No vehicle assigned</span>
                                </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-end w-1/4">
                <Badge @status={{@driver.status}} />
            </div>
        </div>
    </Overlay::Header>

    <Overlay::Body @wrapperClass="new-service-rate-overlay-body px-4 space-y-4 pt-4" @increaseInnerBodyHeightBy={{1000}}>
        <div class="flex-1">
            <div class="grid grid-cols-1 gap-2 text-xs dark:text-gray-100 mb-4">
                <div class="input-group">
                    <label>
                        Name
                    </label>
                    <Input @value={{@driver.name}} @type="text" class="w-full form-input" placeholder="Name" />
                </div>
            </div>

            <div class="grid grid-cols-2 gap-2 text-xs dark:text-gray-100">
                <div class="input-group">
                    <label>
                        Internal ID
                    </label>
                    <Input @value={{@driver.internal_id}} @type="text" class="w-full form-input" placeholder="Internal ID" />
                </div>

                <div class="input-group">
                    <label>
                        Drivers License
                    </label>
                    <Input @value={{@driver.drivers_license_number}} @type="text" class="w-full form-input" placeholder="Drivers License" />
                </div>

                <div class="input-group">
                    <label>
                        Email
                    </label>
                    <Input @value={{@driver.email}} @type="text" class="w-full form-input" placeholder="Email" />
                </div>

                <div class="input-group">
                    <label>
                        Phone
                    </label>
                    <PhoneInput @value={{@driver.phone}} @onInput={{fn (mut @driver.phone)}} class="form-input w-full" />
                </div>

                <div class="input-group">
                    <label>
                        Vendor
                    </label>
                    <ModelSelect @modelName="vendor" @selectedModel={{@driver.vendor}} @placeholder="Select Vendor" @triggerClass="form-select form-input" @infiniteScroll={{false}} @renderInPlace={{true}} @onChange={{fn (mut @driver.vendor)}} as |model|>
                        {{model.name}}
                    </ModelSelect>
                </div>

                <div class="input-group">
                    <label>
                        Vehicle
                    </label>
                    <ModelSelect @modelName="vehicle" @selectedModel={{@driver.vehicle}} @placeholder="Select Vehicle" @triggerClass="form-select form-input" @infiniteScroll={{false}} @renderInPlace={{true}} @onChange={{fn (mut @driver.vehicle)}} as |model|>
                        {{model.display_name}}
                    </ModelSelect>
                </div>

                <div class="input-group">
                    <label>
                        City
                    </label>
                    <Input @value={{@driver.city}} @type="text" class="w-full form-input" placeholder="City" />
                </div>

                <div class="input-group">
                    <label>
                        Country
                    </label>
                    <CountrySelect class="w-full form-input form-select form-datalist" @value={{@driver.country}} @onChange={{fn (mut @driver.country)}} placeholder="Country" />
                </div>
            </div>
        </div>
    </Overlay::Body>
</Overlay>