<Overlay
    @onLoad={{this.setOverlayContext}}
    @position="right"
    @noBackdrop={{true}}
    @fullHeight={{true}}
    @isResizeble={{or this.isResizable @isResizable}}
    @width={{or this.width @width "600px"}}
>
    <Overlay::Header
        @title={{if this.fuelReport.public_id this.fuelReport.name "New Fuel Report"}}
        @status={{this.fuelReport.public_id}}
        @hideStatusDot={{true}}
        @createdAt={{this.fuelReport.createdAt}}
        @titleWrapperClass="leading-5"
    >
        <div class="flex flex-1 justify-end">
            <Button
                @icon={{if this.fuelReport.id "save" "check"}}
                @type="primary"
                @text={{if this.fuelReport.id "Save Fuel Report" "Create Fuel Report"}}
                @onClick={{this.save}}
                @wrapperClass="mr-2"
            />
            {{#if this.fuelReport.id}}
                <Button @type="default" @icon="gas-pump" @helpText="View fuel report details" @onClick={{this.onViewDetails}} @wrapperClass="mr-2" />
            {{/if}}
            <Button @type="default" @icon="times" @helpText={{if this.fuelReport.id "Cancel edit fuel report" "Cancel new fuel report"}} @onClick={{this.onPressCancel}} />
        </div>
    </Overlay::Header>

    <Overlay::Body @wrapperClass="new-service-rate-overlay-body px-4 space-y-4 pt-4" @increaseInnerBodyHeightBy={{1000}}>
        <div class="grid grid-cols-1 text-xs dark:text-gray-100">
            <InputGroup @name="Reporter">
                <ModelSelect
                    @modelName="user"
                    @selectedModel={{this.fuelReport.reporter}}
                    @placeholder="Select Reporter"
                    @triggerClass="form-select form-input"
                    @infiniteScroll={{false}}
                    @renderInPlace={{true}}
                    @onChange={{fn (mut this.fuelReport.reporter)}}
                    @onChangeId={{fn (mut this.fuelReport.reported_by_uuid)}}
                    as |model|
                >
                    {{model.name}}
                </ModelSelect>
            </InputGroup>
            <InputGroup @name="Driver">
                <ModelSelect
                    @modelName="driver"
                    @selectedModel={{this.fuelReport.driver}}
                    @placeholder="Select Driver"
                    @triggerClass="form-select form-input"
                    @infiniteScroll={{false}}
                    @renderInPlace={{true}}
                    @onChange={{fn (mut this.fuelReport.driver)}}
                    @onChangeId={{fn (mut this.fuelReport.driver_uuid)}}
                    as |model|
                >
                    {{model.name}}
                </ModelSelect>
            </InputGroup>
            <InputGroup @name="Vehicle">
                <ModelSelect
                    @modelName="vehicle"
                    @selectedModel={{this.fuelReport.vehicle}}
                    @placeholder="Select Vehicle"
                    @triggerClass="form-select form-input"
                    @infiniteScroll={{false}}
                    @renderInPlace={{true}}
                    @onChange={{fn (mut this.fuelReport.vehicle)}}
                    @onChangeId={{fn (mut this.fuelReport.vehicle_uuid)}}
                    as |model|
                >
                    {{model.display_name}}
                </ModelSelect>
            </InputGroup>
            <InputGroup @name="Status">
                <div class="fleetbase-model-select fleetbase-power-select ember-model-select">
                    <PowerSelect
                        @options={{this.statusOptions}}
                        @selected={{this.fuelReport.status}}
                        @onChange={{fn (mut this.fuelReport.status)}}
                        @placeholder="Select fuel-report status"
                        @triggerClass="form-select form-input"
                        as |status|
                    >
                        {{smart-humanize status}}
                    </PowerSelect>
                </div>
            </InputGroup>
            <InputGroup @name="Odometer" @type="number" @value={{this.fuelReport.odometer}} />
            <InputGroup @name="Cost">
                <MoneyInput
                    class="w-full"
                    @value={{this.fuelReport.amount}}
                    @currency={{this.fuelReport.currency}}
                    @canSelectCurrency={{true}}
                    @onCurrencyChange={{fn (mut this.fuelReport.currency)}}
                />
            </InputGroup>
            <InputGroup @name="Volume" @helpText="Select the metric unit and volume of fuel to report." @wrapperClass="w-full">
                <UnitInput
                    class="w-full"
                    @measurement="volume"
                    @value={{this.fuelReport.volume}}
                    @unit={{this.fuelReport.metric_unit}}
                    @canSelectUnit={{true}}
                    @onUnitChange={{fn (mut this.fuelReport.metric_unit)}}
                />
            </InputGroup>
            <InputGroup @name="Coordinates">
                <CoordinatesInput @value={{this.fuelReport.location}} @onChange={{fn (mut this.fuelReport.location)}} />
            </InputGroup>
        </div>
    </Overlay::Body>
</Overlay>