<Overlay
    @onLoad={{this.setOverlayContext}}
    @position="right"
    @noBackdrop={{true}}
    @fullHeight={{true}}
    @isResizable={{or this.isResizable @isResizable}}
    @width={{or this.width @width "600px"}}
>
    <Overlay::Header
        @title={{if this.issue.public_id this.issue.name "New Issue"}}
        @status={{this.issue.public_id}}
        @hideStatusDot={{true}}
        @createdAt={{this.issue.createdAt}}
        @titleWrapperClass="leading-5"
    >
        <div class="flex flex-1 justify-end">
            <Button @icon={{if this.issue.id "save" "check"}} @type="primary" @text={{if this.issue.id "Save Issue" "Create Issue"}} @onClick={{this.save}} @wrapperClass="mr-2" />
            {{#if this.issue.id}}
                <Button @type="default" @icon="circle-exclamation" @helpText="View issue details" @onClick={{this.onViewDetails}} @wrapperClass="mr-2" />
            {{/if}}
            <Button @type="default" @icon="times" @helpText={{if this.issue.id "Cancel edit issue" "Cancel new issue"}} @onClick={{this.onPressCancel}} />
        </div>
    </Overlay::Header>

    <Overlay::Body @wrapperClass="new-service-rate-overlay-body px-4 pt-4" @increaseInnerBodyHeightBy={{1000}}>
        <div class="grid grid-cols-1 text-xs dark:text-gray-100">
            <InputGroup @name="Reported By">
                <ModelSelect
                    @modelName="user"
                    @selectedModel={{this.issue.reporter}}
                    @placeholder="Select Reporter"
                    @triggerClass="form-select form-input"
                    @infiniteScroll={{false}}
                    @renderInPlace={{true}}
                    @onChange={{fn (mut this.issue.reporter)}}
                    @onChangeId={{fn (mut this.issue.reported_by_uuid)}}
                    as |model|
                >
                    {{model.name}}
                </ModelSelect>
            </InputGroup>

            <InputGroup @name="Assigned To">
                <ModelSelect
                    @modelName="user"
                    @selectedModel={{this.issue.assignee}}
                    @placeholder="Select Assignee"
                    @triggerClass="form-select form-input"
                    @infiniteScroll={{false}}
                    @renderInPlace={{true}}
                    @onChange={{fn (mut this.issue.assignee)}}
                    @onChangeId={{fn (mut this.issue.assigned_to_uuid)}}
                    as |model|
                >
                    {{model.name}}
                </ModelSelect>
            </InputGroup>

            <InputGroup @name="Driver">
                <ModelSelect
                    @modelName="driver"
                    @selectedModel={{this.issue.driver}}
                    @placeholder="Select Driver"
                    @triggerClass="form-select form-input"
                    @infiniteScroll={{false}}
                    @renderInPlace={{true}}
                    @onChange={{fn (mut this.issue.driver)}}
                    as |model|
                >
                    {{model.name}}
                </ModelSelect>
            </InputGroup>

            <InputGroup @name="Vehicle">
                <ModelSelect
                    @modelName="vehicle"
                    @selectedModel={{this.issue.vehicle}}
                    @placeholder="Select Vehicle"
                    @triggerClass="form-select form-input"
                    @infiniteScroll={{false}}
                    @renderInPlace={{true}}
                    @onChange={{fn (mut this.issue.vehicle)}}
                    as |model|
                >
                    {{model.displayName}}
                </ModelSelect>
            </InputGroup>

            <InputGroup @name="Issue Type">
                <div class="fleetbase-model-select fleetbase-power-select ember-model-select">
                    <PowerSelect
                        @options={{this.issueTypes}}
                        @selected={{this.issue.type}}
                        @onChange={{this.onSelectIssueType}}
                        @placeholder="Select issue type"
                        @triggerClass="form-select form-input"
                        as |type|
                    >
                        {{smart-humanize type}}
                    </PowerSelect>
                </div>
            </InputGroup>

            <InputGroup @name="Issue Category">
                <div class="fleetbase-model-select fleetbase-power-select ember-model-select">
                    <PowerSelect
                        @options={{this.issueCategories}}
                        @selected={{this.issue.category}}
                        @onChange={{fn (mut this.issue.category)}}
                        @placeholder="Select issue category"
                        @triggerClass="form-select form-input"
                        @disabled={{not this.issueCategories}}
                        as |category|
                    >
                        {{smart-humanize category}}
                    </PowerSelect>
                </div>
            </InputGroup>

            <InputGroup @name="Issue Report">
                <Textarea @value={{this.issue.report}} aria-label="Issue Report" class="w-full form-input" placeholder="Issue Report" rows={{5}} />
            </InputGroup>

            <InputGroup @name="Issue Tags">
                <TagInput
                    class="form-input"
                    @placeholder="Add tags"
                    @allowSpacesInTags={{true}}
                    @tags={{this.issue.tags}}
                    @addTag={{this.addTag}}
                    @removeTagAtIndex={{this.removeTag}}
                    as |tag|
                >
                    {{tag}}
                </TagInput>
            </InputGroup>

            <InputGroup @name="Issue Priority">
                <div class="fleetbase-model-select fleetbase-power-select ember-model-select">
                    <PowerSelect
                        @options={{this.issuePriorityOptions}}
                        @selected={{this.issue.priority}}
                        @onChange={{fn (mut this.issue.priority)}}
                        @placeholder="Select issue priority"
                        @triggerClass="form-select form-input"
                        as |priority|
                    >
                        {{smart-humanize priority}}
                    </PowerSelect>
                </div>
            </InputGroup>

            <InputGroup @name="Status">
                <div class="fleetbase-model-select fleetbase-power-select ember-model-select">
                    <PowerSelect
                        @options={{this.issueStatusOptions}}
                        @selected={{this.issue.status}}
                        @onChange={{fn (mut this.issue.status)}}
                        @placeholder="Select issue status"
                        @triggerClass="form-select form-input"
                        as |status|
                    >
                        {{smart-humanize status}}
                    </PowerSelect>
                </div>
            </InputGroup>

            <InputGroup @name="Coordinates">
                <CoordinatesInput @value={{this.issue.location}} @onChange={{fn (mut this.issue.location)}} />
            </InputGroup>
        </div>
    </Overlay::Body>
</Overlay>