<div class="order-route-list" ...attributes>
    {{#if this.firstStop}}
        <div class="order-route-stop {{@routeStopClass}}">
            <div class="order-route-stop-index {{@routeStopIndexClass}}">
                <div class="index-count">{{this.firstStop.label}}</div>
            </div>
            <div class="order-route-location {{@routeLocationClass}} dark:text-gray-100">
                <DisplayPlace @place={{this.firstStop.place}} @eta={{get @eta this.firstStop.place.id}} @waypointActions={{@waypointActions}} />
            </div>
        </div>
    {{/if}}

    {{#if this.hasExtraStops}}
        <Button class="btn-reset w-full" @wrapperClass="w-full" @onClick={{this.toggleWaypointsCollapse}}>
            <div class="px-3 py-2 w-full bg-yellow-200 text-yellow-900 rounded shadow-sm flex flex-col justify-center items-start mb-3">
                <div class="flex flex-row items-center">
                    <FaIcon @icon="eye" class="mr-2 text-yellow-900" />
                    <span class="font-bold">{{if this.isWaypointsCollapsed (t "route-list.expand") (t "route-list.collapse")}}</span>
                </div>
                <div>{{this.middleStops.length}} {{t "route-list.more-waypoints"}}</div>
            </div>
        </Button>
        {{#unless this.isWaypointsCollapsed}}
            {{#each this.middleStops as |stop|}}
                <div class="order-route-stop {{@routeStopClass}}">
                    <div class="order-route-stop-index {{@routeStopIndexClass}}">
                        <div class="index-count">{{stop.label}}</div>
                    </div>
                    <div class="order-route-location {{@routeLocationClass}} dark:text-gray-100">
                        <DisplayPlace @place={{stop.place}} @eta={{get @eta stop.place.id}} @waypointActions={{@waypointActions}} />
                    </div>
                </div>
            {{/each}}
        {{/unless}}
    {{/if}}

    {{#if this.lastStop}}
        <div class="order-route-stop {{@routeStopClass}}">
            <div class="order-route-stop-index {{@routeStopIndexClass}}">
                <div class="index-count">{{this.lastStop.label}}</div>
            </div>
            <div class="order-route-location {{@routeLocationClass}} dark:text-gray-100">
                <DisplayPlace @place={{this.lastStop.place}} @eta={{get @eta this.lastStop.place.id}} @waypointActions={{@waypointActions}} />
            </div>
        </div>
    {{/if}}
</div>
