<Overlay
    @onLoad={{this.setOverlayContext}}
    @position="right"
    @noBackdrop={{true}}
    @fullHeight={{true}}
    @isResizeble={{or this.isResizable @isResizable}}
    @width={{or this.width @width "600px"}}
>
    <Overlay::Header @hideLeftSection={{true}} @actionsWrapperClass="flex-1 flex-col py-3" class="h-auto-i min-h-[127px]">
        <div class="flex flex-row items-center justify-between w-full mb-4">
            <div class="flex flex-1 space-x-2">
                {{#if this.vehicle.id}}
                    <Button @type="default" @icon="car" @helpText="View vehicle details" @onClick={{this.onViewDetails}} @disabled={{this.isLoading}} />
                {{/if}}
            </div>
            <div class="flex flex-1 justify-end">
                <div class="mr-2">
                    <Button
                        @icon={{if this.vehicle.id "save" "check"}}
                        @type="primary"
                        @text={{if this.vehicle.id "Save Vehicle" "Create Vehicle"}}
                        @onClick={{this.save}}
                        @isLoading={{this.isLoading}}
                    />
                </div>
                <Button
                    @type="default"
                    @icon="times"
                    @helpText={{if this.vehicle.id "Cancel edit vehicle" "Cancel new vehicle"}}
                    @onClick={{this.onPressCancel}}
                    @disabled={{this.isLoading}}
                />
            </div>
        </div>
        <div class="flex flex-row justify-between w-full">
            <div class="flex flex-col flex-1 w-3/4">
                <div class="flex flex-row">
                    <div class="w-14">
                        <div class="upload-avatar-overlay w-12 h-12 flex items-center justify-start rounded-lg">
                            <img src={{this.vehicle.photo_url}} alt={{this.vehicle.name}} height="48" width="48" class="h-12 w-12 rounded-lg shadow-sm" />
                            <Attach::Tooltip @class="clean" @animation="scale" @placement="top">
                                <InputInfo @text="Upload new photo" />
                            </Attach::Tooltip>
                            <div class="upload-avatar-button-wrapper rounded-lg">
                                <UploadButton
                                    @name="photos"
                                    @accept="image/*"
                                    @onFileAdded={{this.onUploadNewPhoto}}
                                    @icon="upload"
                                    @hideButtonText={{true}}
                                    @labelClass="upload-avatar-label-overlay"
                                    class="w-12 btn-reset"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <h1 class="text-gray-900 dark:text-white text-2xl">
                            {{#if this.vehicle.id}}
                                {{this.vehicle.displayName}}
                            {{else}}
                                {{#if this.vehicle.displayName}}
                                    {{this.vehicle.displayName}}
                                {{else}}
                                    <span>New Vehicle</span>
                                {{/if}}
                            {{/if}}
                        </h1>
                        <div class="-mt-1">
                            {{#if this.vehicle.driver}}
                                <div class="flex flex-row items-center">
                                    <span class="text-sm dark:text-gray-500 text-gray-700 mr-3">{{this.vehicle.driver.name}}</span>
                                </div>
                            {{else}}
                                <div class="flex flex-row items-center">
                                    <span class="text-sm dark:text-gray-500 text-gray-700 mr-3">No driver assigned</span>
                                </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-end w-1/4">
                <Badge @status={{this.vehicle.status}} />
            </div>
        </div>
    </Overlay::Header>

    <Overlay::Body @wrapperClass="new-service-rate-overlay-body px-4 space-y-4 pt-4" @increaseInnerBodyHeightBy={{1000}}>
        <div class="flex-1 space-y-4">
            <ContentPanel @title="Details" @open={{true}} @pad={{true}} @panelBodyClass="bg-white dark:bg-gray-800">
                <div class="grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-2">
                    <InputGroup @name="Internal ID">
                        <Input @value={{this.vehicle.internal_id}} @type="text" class="w-full form-input" placeholder="Internal ID" />
                    </InputGroup>

                    <InputGroup @name="Plate Number">
                        <Input @value={{this.vehicle.plate_number}} @type="text" class="w-full form-input" placeholder="Plate Number" />
                    </InputGroup>

                    <InputGroup @name="VIN Number">
                        <Input @value={{this.vehicle.vin}} @type="text" class="w-full form-input" placeholder="VIN Number" />
                    </InputGroup>

                    <InputGroup @name="Make">
                        <Input @value={{this.vehicle.make}} @type="text" class="w-full form-input" placeholder="Vehicle Make" />
                    </InputGroup>

                    <InputGroup @name="Model">
                        <Input @value={{this.vehicle.model}} @type="text" class="w-full form-input" placeholder="Vehicle Model" />
                    </InputGroup>

                    <InputGroup @name="Year">
                        <Input @value={{this.vehicle.year}} @type="text" class="w-full form-input" placeholder="Vehicle Year" />
                    </InputGroup>

                    <InputGroup @name="Driver Assigned">
                        <ModelSelect
                            @modelName="driver"
                            @selectedModel={{this.vehicle.driver}}
                            @placeholder="Select Driver"
                            @triggerClass="form-select form-input"
                            @infiniteScroll={{false}}
                            @renderInPlace={{true}}
                            @onChange={{fn (mut this.vehicle.driver)}}
                            as |model|
                        >
                            {{model.name}}
                        </ModelSelect>
                    </InputGroup>

                    <InputGroup @name="Status">
                        <div class="fleetbase-model-select fleetbase-power-select ember-model-select">
                            <PowerSelect
                                @options={{this.vehicleStatusOptions}}
                                @selected={{this.vehicle.status}}
                                @onChange={{fn (mut this.vehicle.status)}}
                                @placeholder="Select vehicle status"
                                @triggerClass="form-select form-input"
                                as |status|
                            >
                                {{smart-humanize status}}
                            </PowerSelect>
                        </div>
                    </InputGroup>
                    <InputGroup @name="Coordinates" @wrapperClass="col-span-2">
                <CoordinatesInput
                    @value={{this.vehicle.location}}
                    @onChange={{this.onCoordinatesChanged}}
                    @onGeocode={{this.onAutocomplete}}
                    @onUpdatedFromMap={{this.onCoordinatesChanged}}
                    @onInit={{this.setCoordinatesInput}}
                />
            </InputGroup>
                </div>
            </ContentPanel>

            <ContentPanel @title="Avatar" @open={{true}} @pad={{true}} @panelBodyClass="bg-white dark:bg-gray-800">
                <div class="grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-2">
                    <div class="input-group mb-2">
                        <InputLabel @labelText="Select map avatar" @helpText="Select an avatar to be used for rendering on maps when using geolocation tracking features." />
                        <FetchSelect
                            @wrapperClass="w-60"
                            @placeholder="Select avatar"
                            @endpoint="vehicles/avatars"
                            @selected={{this.vehicle.avatar_url}}
                            @optionValue="value"
                            @onChange={{fn (mut this.vehicle.avatar_url)}}
                            as |option|
                        >
                            {{titleize (humanize option.key)}}
                        </FetchSelect>
                    </div>
                    <div>
                        <img alt={{this.vehicle.displayName}} src={{this.vehicle.avatar_url}} class="w-24 h-24" />
                    </div>
                </div>
            </ContentPanel>
        </div>
    </Overlay::Body>
</Overlay>