<ContentPanel @title="Details" @open={{true}} @isLoading={{@isLoading}} @actionButtons={{this.actionButtons}} @wrapperClass="bordered-top">
    <:title>
        <div class="ml-2 flex flex-row space-x-1">
            {{#if @resource.dispatched}}
                <Badge @hideStatusDot={{false}} @status="Dispatched" />
            {{/if}}
            {{#if @resource.adhoc}}
                <Badge @hideStatusDot={{false}} @disableHumanize={{true}} @status="success">{{t "fleet-ops.operations.orders.index.view.ad-hoc"}}</Badge>
            {{/if}}
        </div>
    </:title>
    <:default>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-2 mb-4 mt-1">
            <div class="field-info-container">
                <div class="field-name">
                    <span>{{t "fleet-ops.operations.orders.index.view.driver-assigned"}}</span>
                </div>
                <div class="field-value">
                    <div>
                        <a href="javascript:;" class="flex flex-row space-x-2" {{on "click" (fn this.focusOrderAssignedDriver @resource.driver_assigned)}}>
                            <div class="relative shrink-0">
                                <Image
                                    src={{avatar-url @resource.driver_assigned.photo_url}}
                                    @fallbackSrc={{config "defaultValues.driverImage"}}
                                    width="28"
                                    height="28"
                                    class="w-7 h-7 rounded-full ring-2 ring-gray-800 dark:ring-gray-700 shadow transition-shadow hover:shadow-md focus:shadow-md"
                                    alt={{@resource.driver_assigned.name}}
                                />
                                <FaIcon @icon="circle" @size="2xs" class="absolute left-0 top-0 h-2 w-2 {{if @resource.driver_assigned.online 'text-green-500' 'text-yellow-200'}}" />
                            </div>
                            <div>
                                <div class="text-sm">{{n-a @resource.driver_assigned.name}}</div>
                                <div class="text-xs text-gray-400 dark:text-gray-500">{{n-a @resource.driver_assigned.phone "No Phone"}}</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="field-info-container">
                <div class="field-name flex flex-row items-center justify-between">
                    <span>{{t "fleet-ops.operations.orders.index.view.vehicle-assigned"}}</span>
                </div>
                <div class="field-value">
                    <a href="javascript:;" class="flex flex-row space-x-2 shrink-0">
                        <div class="relative shrink-0">
                            <Image
                                src={{@resource.vehicle_assigned.photo_url}}
                                @fallbackSrc={{config "defaultValues.vehicleImage"}}
                                width="28"
                                height="28"
                                class="w-7 h-7 rounded-full ring-2 ring-gray-800 dark:ring-gray-700 shadow transition-shadow hover:shadow-md focus:shadow-md"
                                alt={{n-a @resource.vehicle_assigned.name @resource.vehicle_assigned.yearMakeModel}}
                            />
                            <FaIcon @icon="circle" @size="2xs" class="absolute left-0 top-0 h-2 w-2 {{if @resource.vehicle_assigned.online 'text-green-500' 'text-yellow-200'}}" />
                        </div>
                        <div>
                            <div class="text-sm">{{n-a @resource.vehicle_assigned.name @resource.vehicle_assigned.yearMakeModel}}</div>
                            <div class="text-xs text-gray-400 dark:text-gray-500">{{or
                                    @resource.vehicle_assigned.plate_number
                                    @resource.vehicle_assigned.vin
                                    @resource.vehicle_assigned.serial_number
                                    @resource.vehicle_assigned.call_sign
                                }}</div>
                        </div>
                        <Attach::Tooltip @class="clean" @animation="scale" @placement="top">
                            <InputInfo>
                                <div class="text-xs font-semibold">{{@resource.vehicle_assigned.name @resource.vehicle_assigned.yearMakeModel}}</div>
                                <div class="text-xs">Driver: {{n-a @resource.vehicle_assigned.driver_name}}</div>
                                <div class="text-xs">
                                    <span>Status:</span>
                                    <span class="{{if @resource.vehicle_assigned.online 'text-green-500' 'text-red-400'}}">
                                        {{if @resource.vehicle_assigned.online "Online" "Offline"}}
                                    </span>
                                </div>
                                <div class="text-xs truncate">Pos: {{point-coordinates @resource.vehicle_assigned.location}}</div>
                            </InputInfo>
                        </Attach::Tooltip>
                    </a>
                </div>
            </div>
            <div class="field-info-container">
                {{#if @resource.isMultiDrop}}
                    <div class="field-name">{{pluralize (t "fleet-ops.operations.orders.index.view.customer")}}</div>
                    <div class="field-value">
                        <Order::CustomerAvatarStack @waypoints={{@resource.orderWaypoints}} @size="sm" @overlap="tight" />
                    </div>
                {{else}}
                    <div class="field-name">{{t "fleet-ops.operations.orders.index.view.customer"}}</div>
                    <div class="field-value">
                        <div class="flex flex-row space-x-2">
                            <div>
                                <Image
                                    src={{avatar-url @resource.customer.photo_url}}
                                    @fallbackSrc={{config "defaultValues.contactImage"}}
                                    width="28"
                                    height="28"
                                    class="w-7 h-7 rounded-full ring-2 ring-gray-800 dark:ring-gray-700 shadow transition-shadow hover:shadow-md focus:shadow-md"
                                    alt={{@resource.customer.name}}
                                />
                            </div>
                            <div>
                                <div class="text-sm">{{n-a @resource.customer.name "No Customer"}}</div>
                                <div class="text-xs text-gray-400 dark:text-gray-500">{{n-a @resource.customer.phone "No Phone"}}</div>
                            </div>
                        </div>
                    </div>
                {{/if}}
            </div>
            <div class="field-info-container">
                <div class="field-name">{{t "fleet-ops.operations.orders.index.view.facilitator"}}</div>
                <div class="field-value">
                    <div class="flex flex-row space-x-2">
                        <div>
                            <Image
                                src={{avatar-url @resource.facilitator.photo_url}}
                                @fallbackSrc={{config "defaultValues.contactImage"}}
                                width="28"
                                height="28"
                                class="w-7 h-7 rounded-full ring-2 ring-gray-800 dark:ring-gray-700 shadow transition-shadow hover:shadow-md focus:shadow-md"
                                alt={{@resource.facilitator.name}}
                            />
                        </div>
                        <div>
                            <div class="text-sm">{{n-a @resource.facilitator.name "No Facilitator"}}</div>
                            <div class="text-xs text-gray-400 dark:text-gray-500">{{n-a @resource.facilitator.phone "No Phone"}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="field-info-container field-vertical-container dashed-bottom">
                <div class="field-name">ID</div>
                <ClickToCopy @value={{@resource.public_id}} class="field-value">{{n-a @resource.public_id}}</ClickToCopy>
            </div>
            <div class="field-info-container field-vertical-container dashed-bottom">
                <div class="field-name">{{t "fleet-ops.common.internal-id"}}</div>
                <ClickToCopy @value={{@resource.internal_id}} class="field-value">{{n-a @resource.internal_id}}</ClickToCopy>
            </div>
            <div class="field-info-container field-vertical-container dashed-bottom">
                <div class="field-name">{{t "fleet-ops.operations.orders.index.view.tracking-number"}}</div>
                <ClickToCopy @value={{@resource.tracking_number.tracking_number}} class="field-value">{{n-a @resource.tracking_number.tracking_number}}</ClickToCopy>
            </div>
            <div class="field-info-container field-vertical-container dashed-bottom">
                <div class="field-name">{{t "fleet-ops.operations.orders.index.view.date-scheduled"}}</div>
                <div class="field-value">{{n-a @resource.scheduledAt}}</div>
            </div>
            <div class="field-info-container field-vertical-container dashed-bottom">
                <div class="field-name">{{t "fleet-ops.operations.orders.index.view.date-dispatched"}}</div>
                <div class="field-value">{{n-a @resource.dispatchedAt}}</div>
            </div>
            <div class="field-info-container field-vertical-container dashed-bottom">
                <div class="field-name">{{t "fleet-ops.operations.orders.index.view.date-started"}}</div>
                <div class="field-value">{{n-a @resource.startedAt}}</div>
            </div>
            <div class="field-info-container field-vertical-container dashed-bottom">
                <div class="field-name">{{t "fleet-ops.common.type"}}</div>
                <div class="field-value">{{n-a (humanize @resource.type)}}</div>
            </div>
            {{#if @resource.pod_required}}
                <div class="field-info-container field-vertical-container">
                    <div class="field-name">{{t "fleet-ops.operations.orders.index.view.proof-of-delivery"}}</div>
                    <div class="field-value">{{n-a (smart-humanize @resource.pod_method)}}</div>
                </div>
            {{/if}}
        </div>
    </:default>
</ContentPanel>