<Layout::Section::Header @title={{t "settings.routing.fleet-ops-routing-settings"}}>
    <Button
        @type="primary"
        @size="sm"
        @icon="save"
        @text={{t "common.save-changes"}}
        @onClick={{perform this.saveSettings}}
        @disabled={{this.saveSettings.isRunning}}
        @isLoading={{or this.saveSettings.isRunning this.getSettings.isRunning}}
    />
</Layout::Section::Header>

<Layout::Section::Body class="overflow-y-scroll h-full">
    <div class="container mx-auto h-screen">
        <div class="max-w-3xl my-10 mx-auto space-y-6">
            <ContentPanel @title={{t "settings.routing.configure-routing"}} @open={{true}} @wrapperClass="bordered-classic">
                <InputGroup @name={{t "settings.routing.routing-service"}} @helpText={{t "settings.routing.routing-service-help-text"}}>
                    <Select
                        @value={{this.routerService}}
                        @options={{this.leafletRoutingControl.availableServices}}
                        @optionLabel="name"
                        @optionValue="key"
                        @onSelect={{fn (mut this.routerService)}}
                        @placeholder={{t "settings.routing.select-routing-service"}}
                        class="w-full"
                    />
                </InputGroup>
                <InputGroup @name={{t "settings.routing.routing-distance-unit"}} @helpText={{t "settings.routing.routing-distance-unit-help-text"}}>
                    <Select
                        @value={{this.routingUnit}}
                        @options={{this.routingUnitOptions}}
                        @optionLabel="label"
                        @optionValue="value"
                        @onSelect={{fn (mut this.routingUnit)}}
                        @placeholder={{t "settings.routing.select-routing-distance-unit"}}
                        class="w-full"
                    />
                </InputGroup>
            </ContentPanel>
            <RegistryYield @registry="fleet-ops:template:settings:routing" as |RegistryComponent|>
                <RegistryComponent @controller={{this}} />
            </RegistryYield>
        </div>
    </div>
    <Spacer @height="600px" />
</Layout::Section::Body>