<div class="p-4">
    <ContentPanel @title="Details" @open={{true}} @pad={{true}} @panelBodyClass="bg-white dark:bg-gray-900">
        <div class="grid grid-cols-2 gap-2 text-xs md:mb-6 dark:text-gray-100">
            <div class="field-info-container">
                <div class="field-name">Reporter</div>
                <div class="field-value">{{n-a @issue.reporter.name}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">Assigned To</div>
                <div class="field-value">{{n-a @issue.assignee.name}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">Driver</div>
                <div class="field-value">{{n-a @issue.driver.name}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">Vehicle</div>
                <div class="field-value">{{n-a @issue.vehicle.displayName}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">Issue Type</div>
                <div class="field-value">{{n-a @issue.type}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">Issue Category</div>
                <div class="field-value">{{n-a @issue.category}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">Date Created</div>
                <div class="field-value">{{@issue.createdAtShort}}</div>
            </div>
            <div class="field-info-container">
                <div class="field-name">Coordinates</div>
                <div class="field-value">{{point-coordinates @issue.location}}</div>
            </div>
        </div>
    </ContentPanel>
</div>